@model IEnumerable<ProyectoSGShoots6.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<style>
        .fondoCaja{
    background-color: white;
    padding:3rem;
    border-radius: 15px;
    }
</style>
<div class="fondoCaja">

<h1 class="text-center">PRODUCTOS</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear nuevo producto</a>
</p>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Tipo Producto
@*                @Html.DisplayNameFor(model => model.TipoProductoIdTipoProductoNavigation)
*@            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                Disponible
@*                @Html.DisplayFor(modelItem => item.Estado)
*@            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProductoIdTipoProductoNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

